*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.contact-form__container{
    background-color: #000;
}
@media(min-width:678px){
    .contact-form__container{
        background:linear-gradient(to right, rgba(255, 0, 0, 0.7),rgba(255, 166, 0, 0.7),rgba(255, 255, 0, 0.7),rgba(0, 128, 0, 0.7),rgba(0, 0, 255, 0.7),rgba(76, 0, 130, 0.7),rgba(238, 130, 238, 0.7));
    }
}

.contact-form__title{
    text-shadow: 1px 1px 2px black;
}

